<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hibernate 查询统计</title>
    <link rel="stylesheet" 
          th:href="@{/CSS/Statistics/HibernateStatistics.css}">
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js">
    </script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Hibernate 查询统计</h1>
            <p class="description">监控 Hibernate ORM 框架的查询性能与缓存效率</p>
        </header>
        <div id="clear_button_container">
            <button type="button" 
                    id="clear_button" 
                    onclick="clearStatisticsData(this)">
                清理统计数据
            </button>
        </div>
        <table class="stats-table">
            <thead>
                <th>总查询次数</th>
                <th>实体加载次数</th>
                <th>集合加载次数</th>
                <th>二级缓存命中次数</th>
                <th>查询缓存命中次数</th>
                <th>连接获取次数</th>
            </thead>
            <tbody id="hibernate_statistics_data">
                <tr>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                </tr>
            </tbody>
        </table>
        <div id="statistics_charts"
             style="width: 100%; height: 550px;"></div>
        <div class="footer">
                <p>最后更新: <span id="last-update" class="last-update">尚未更新</span></p>
                <p>监控间隔: 1000 ms</p>
        </div>
    </div>
</body>
<script type="text/javascript"
        th:src="@{/JS/Echarts/HibernateStatisticsChartsRender.js}"></script>
<script type="text/javascript" 
        th:src="@{/JS/Statistics/HibernateStatistics.js}"></script>
</html>