<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>练习结果分页查询</title>
    <link rel="stylesheet" th:href="@{/CSS/UserOperatorPageCSS/PaginatedPractiseScore.css}">
    <link rel="stylesheet" th:href="@{/CSS/General/ToFrontPageLink.css}">
    <link rel="stylesheet" th:href="@{/CSS/General/UserBadge.css}">
</head>

<body>
    <span style="display: none;" th:text="${EntityCount}" id="record_amount"></span>
    <span style="display: none;" th:text="${CurrentPage}" id="current_page"></span>
    <span style="display: none;" th:text="${PageCount}" id="page_count"></span>
    <span style="display: none;" th:text="${OnePageAmount}" id="one_page_amount"></span>
    <!-- <span style="display: none;" th:text="${QuestionCount}" id="question_count"></span> -->

    <div id="user_name" class="user-badge" style="float: right;">
        <a th:href="@{'/user_info/overview/' + ${UserName}}">
            <img th:src="@{'/api/user_info/user_overview_avatar/' + ${UserName}}" alt="头像">
            <span th:text="${UserName}" id="user_name_text"></span>
        </a>
    </div>

    <div>
        <a id="return_to_frontpage" 
           href="/user_info/user_front_page">回首页</a>
    </div>

    <h2 th:text="'用户：' + ${UserName} + ' 的练习记录'"></h2>

    <div>
        <button id="clean_record" type="button" onclick="truncateRecord(this)">
            清空练习记录
        </button>
        <table>
            <thead>
                <tr>
                    <th scope="col">练习提交时间</th>
                    <th scope="col">错误数</th>
                    <th scope="col">正确数</th>
                    <th scope="col">未答数</th>
                    <th scope="col">错误率</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="record,iter : ${PaginatedScoreRecord}" style="--i: ${iter.index}">
                    <td th:text="${record.submitDate}"
                        th:id="'submit_date_' + ${iter.index}"></td>
                    <td th:text="${record.errorCount}"></td>
                    <td th:text="${record.correctCount}"></td>
                    <td th:text="${record.noAnswerCount}"></td>
                    <td th:text="${#numbers.formatDecimal(
                                        QuestionCount != 0 
                                        ? 100.00 * (record.errorCount + record.noAnswerCount) / QuestionCount 
                                        : 0, 
                                        1, 2)} + ' %'"
                        th:id="'mistake_rate_' + ${iter.index}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="mistake_rate_chatrs" style="width: 100%; height: 500px"></div>

    <div id="pagination_operator">
        <p th:text="'一页展示 ' + ${OnePageAmount} + ' 次成绩, ' + '共 ' + ${EntityCount} + ' 条练习记录'"></p>
        <p th:text="'当前位于：' + ${CurrentPage} + ' / ' + ${PageCount} + ' 页'"></p>
        <button type="button" onclick="toPreviousPage()">上一页</button>
        <button type="button" onclick="toNextPage()">    下一页</button>
        <button type="button" onclick="toFirstPage()">   跳转至第一页</button>
        <button type="button" onclick="toLastPage()">    跳转至最后一页</button><br>
        <input  type="number" placeholder="跳转至：" id="jump_input"><span> 页</span>
        <button type="button" 
                onclick="jumpToDesignatedPage()">
            GO
        </button>
    </div>
</body>

<script type="text/javascript"
        th:src="@{/JS/UserOperatorPageScript/PaginatedPractiseScore.js}"></script>
<script type="text/javascript"
        th:src="@{/JS/Echarts/echarts.min.js}"></script>
<script type="text/javascript"
        th:src="@{/JS/Echarts/MistakeRateChartsRender.js}"></script>
</html>