<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="view-point" content="width=device-width, initial-scale=1.8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" 
          th:href="@{/CSS/UserOperatorPageCSS/QuestionPractise.css}">
    <link rel="stylesheet" th:href="@{/CSS/General/ToFrontPageLink.css}">
    <link rel="stylesheet" th:href="@{/CSS/General/UserBadge.css}">
    <title>题目练习</title>
</head>

<body>
    <div id="user_name" class="user-badge" style="float: right;">
        <a th:href="@{'/user_info/overview/' + ${UserName}}">
            <img th:src="@{'/api/user_info/user_overview_avatar/' + ${UserName}}" alt="头像">
            <span th:text="${UserName}" id="user_name_text"></span>
        </a>
    </div>

    <div>
        <a id="return_to_frontpage" 
           href="/user_info/user_front_page">回首页</a>
    </div>

    <h1>选择题练习</h1>

    <strong th:if="${#lists.size(QuestionPractise) == 0}">题库里面还没有问题呢，去添加一些吧！</strong>

    <div id="total">
        <p id="total_questions" 
           th:text="'总题数：' + ${#lists.size(QuestionPractise)}">
        </p>
    </div>

    <div th:each="question, iter: ${QuestionPractise}" class="question-container"
         th:data-question-id="${question.questionId}" 
         th:data-correct-answer="${question.correctAnswer}">
        <p th:text="${iter.index + 1} + '.  ' + ${question.questionContent}"></p>
        <div th:if="${question.options != null}">
            <ul>
                <li th:each="entry : ${question.options.entrySet()}">
                    <input type="radio" th:id="'option_' + ${entry.getKey()}"
                           th:name="'options_' + ${question.questionId}" th:value="${entry.getKey()}">
                    <span th:for="'option_' + ${entry.getKey()}"
                          th:text="${entry.getKey()} + ': ' + ${entry.getValue()}"></span><br>
                </li>
            </ul>
        </div>
        <button type="button" class="submit-btn" 
                th:data-qid="${question.questionId}" 
                onclick="checkAnswer(this)">
            确认
        </button>
        <div class="feedback" 
             th:id="'feedback_' + ${question.questionId}"></div>
    </div>

    <div>
        <button type="button" 
                class="total_submit_button" onclick="totalSubmit(this)">
            所有题目均已完成，交卷
        </button>
        <div class="practise_score" id="practise_score"></div>
    </div>
</body>
    <script type="text/javascript" 
            th:src="@{/JS/UserOperatorPageScript/QuestionPractise.js}">
    </script>
</html>