<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Error Page</title>
    <link rel="stylesheet" th:href="@{/CSS/ErrorPageCSS/Controller_ErrorPage.css}">
</head>
<body>
    <h1>Opps!</h1>
    <h3 th:text="${ErrorMessage.getControllerName()}"></h3>
    <h3 th:text="${ErrorMessage.getControllerMethod()}"></h3>
    <h3 th:text="${ErrorMessage.getErrorMessage()}"></h3>

    <a href="/">
        🔙 Return to login page
    </a>
</body>
</html>