<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>用户登录</title>
    <link rel="stylesheet" 
          th:href="@{/CSS/UserAccountPageCSS/UserLogin.css}">
    <script type="text/javascript"
            th:src="@{/JS/UserAccountPageScript/UserLogin.js}"></script>
</head>

<body>
    <div class="login-form">
        <div class="login-form-header">
            <h1>登录</h1>
        </div>
        
        <form class="login-form-body" id="loginForm">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <div class="form-group">
                <label for="user_name" class="required">用户名</label>
                <input type="text" id="user_name" name="username" class="form-control" required>
                <div class="error-message" id="user_nameError"></div>
            </div>

            <div class="form-group">
                <label for="password" class="required">密码</label>
                <input type="password" id="password" name="username" class="form-control" required>
                <div class="error-message" id="passwordError"></div>
            </div>
            
            <!-- 验证码发送与校验区域，用户无需显式的填写邮箱，后端会查询出来的 -->
            <div class="form-group">
                <label for="verify_code">验证码</label>
                <input type="text" id="verify_code" class="form-control" pattern="\d*" required>
                <button id="send_verify_code" onclick="doObtainVarifyCode()">
                    获取验证码
                </button>
                <div class="notify-message" id="notifyMessage"></div>
                <div class="error-message" id="verify_codeError"></div>
            </div>

            <a href="/user_info/register">还没账户？先去注册一个吧！</a>

            <button type="button" class="btn" onclick="doLogin()">用户登录</button>
        </form>
    </div>
</body>

</html>