<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>用户账号信息删除</title>
    <link rel="stylesheet" 
          th:href="@{/CSS/UserAccountPageCSS/UserDelete.css}">
    
</head>
<body>
    <div class="delete_form">
        <div class="delete_form_header">
            <h1>删除账号</h1>
        </div>

        <form id="delete_form">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

            <div class="form-group">
                <label for="user_name" class="required">用户名</label>
                <input type="text" id="user_name" class="form-control" required>
                <div class="error-message" id="usernameError"></div>
            </div>

            <div class="form-group">
                <label for="password" class="required">密码</label>
                <input type="password" id="password" class="form-control" required>
                <div class="error-message" id="passwordError"></div>
            </div>

            <button type="button" onclick="doDeleteAccount()">删除账号</button>
            <p id="cancel"></p>
        </form>
    </div>
</body>
<script type="text/javascript" 
        th:src="@{/JS/UserAccountPageScript/UserDelete.js}"></script>
</html>