<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title th:text="${UserOverview.getUserName()} + ' 的主页'"></title>
    <link rel="stylesheet" 
          th:href="@{/CSS/UserAccountPageCSS/UserOverview.css}">
    <link rel="stylesheet" th:href="@{/CSS/General/ToFrontPageLink.css}">
    <script type="text/javascript" 
            th:src="@{/JS/UserAccountPageScript/UserOverview.js}">
    </script>
</head>
<body>
    <h1 th:text="${UserOverview.getUserName()} + ' 的主页'"></h1>

    <div>
        <a id="return_to_frontpage" 
           href="/user_info/user_front_page">回首页</a>
    </div>

    <div id="user_overview">
        <img id="avatar-image" th:src="@{'/api/user_info/user_overview_avatar/' + ${UserOverview.getUserName}}" alt="头像">

        <input type="file" id="avatar-input" 
               accept="image/png, image/jpeg, image/webp" 
               onclick="doAvatarModify()" hidden>
        <button class="gh-button" type="button" 
                onclick="document.getElementById('avatar-input').click()">
            <span class="button-text">📌 更换头像</span>
        </button>
        <div id="upload-status"></div>
        
        <p data-label="用户 ID：" th:text="${UserOverview.getId()}">???</p>
        <p data-label="用户名：" th:text="${UserOverview.getUserName()}">???</p>
        <p data-label="全名：" th:text="${UserOverview.getFullName()}">???</p>
        <p data-label="电话：" th:text="'+86 ' + ${UserOverview.getTelephoneNumber()}">???</p>
        <p data-label="邮箱：" th:text="${UserOverview.getEmail()}">???</p>
        <p data-label="注册时间：" th:text="${UserOverview.getRegisterDateTime()}">???</p>
        <p data-label="角色：" th:text="${UserOverview.getRoles()}">???</p>

        <a href="/user_info/modify" id="modify-account">
            <span>✏️ 修改账户信息</span>
        </a>
    </div>
</body>
</html>